@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
 :root {
    --bgcolor: #fff;
    --txtcolor: #9d9d9d;
    --h1txtcolor: #2f2e2e;
    --buttoncolor: #ce0627;
    --buttoncolor2: #fff;
    --buttontextcolor: #fff;
    --borderColor: #ce0627;
    --bgColor2: #131313;
    --graytext: #585858;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Rajdhani', sans-serif;
}

.transition {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

body {
    padding-bottom: 600px;
}

.center {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.marginLeft {
    margin-left: 60px;
}

.marginTop40 {
    margin-top: 40px;
}

.marginTop55 {
    margin-top: 55px;
}

.marginTop78 {
    margin-top: 78px;
}

.marginTop100 {
    margin-top: 100px;
}

.marginTop130 {
    margin-top: 130px;
}

.paddingTop70 {
    padding-top: 70px;
}

.flexBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    text-align: center;
    color: var(--bgcolor2);
    font-size: 36px;
}

.break {
    margin: 30px;
    color: var(--borderColor)
}

.h3Text {
    color: var(--graytext);
    font-weight: lighter;
}

.subText {
    color: var(--graytext);
    font-weight: lighter;
    text-align: center;
    font-size: 18px;
}


/*linetop - header*/

.linetop {
    height: 145px;
    /* background-color: red; */
}

.linetop .logo {
    background: url(../img/logo.png) no-repeat;
    width: 145px;
    height: 145px;
    display: block;
    text-indent: -9999px;
}

.linetop nav {
    flex: auto;
    padding-left: 550px;
    padding-right: 55px;
}

.linetop nav ul a {
    color: var(--txtcolor);
    font-size: 20px;
}

.linetop nav ul a:hover {
    color: var(--gray);
    font-size: 20px;
    font-weight: bold;
}

.linetop .social li+li {
    margin-left: 20px;
}


/*Article - section*/

.article {
    padding-top: 0px;
    background-image: url(../img/man.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.article h1 {
    font-size: 90px;
}

.article h3 {
    font-size: 36px;
    color: var(--txtcolor);
    text-align: left;
}

.emptySpace {
    height: 75px;
}

.article p {
    width: 585px;
    font-size: 18px;
    color: var(--txtcolor);
}

.article .firstBtn {
    height: 60px;
    width: 200px;
    padding-top: 60px;
    background-color: var(--buttoncolor);
    border: none;
    color: var(--buttontextcolor);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 20px;
}

.article .secondBtn {
    height: 60px;
    width: 200px;
    padding-top: 60px;
    background-color: var(--buttoncolor2);
    border: 2p;
    color: var(--h1txtcolor);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 20px;
    border-color: red;
}

.article .firstBtn:hover {
    background-color: red;
}

.article .secondBtn:hover {
    background-color: red;
}

.article .borderBottom {
    margin-bottom: 2px;
    background-color: var(--borderColor);
}

.article span {
    background-image: url(../img/man.png);
    height: 240px;
    width: 240px;
}


/*banner - section*/

.bg {
    width: 100%;
    height: 534px;
    background: linear-gradient(to top, var(--bgColor2) 50%, #fff 50%);
}

.bg .banner {
    background: linear-gradient(to top, var(--bgColor2) 50%, #fff 50%);
    height: 534px;
}

.banner .logo {
    background: url(../img/logoHD.png) no-repeat;
    background-position: bottom left;
    width: 425px;
    height: 425px;
    display: block;
    text-indent: -9999px;
    padding-bottom: 50px;
}

.banner span {
    color: #fff;
    flex: auto;
    font-size: 90px;
    padding-top: 267px;
}

.banner span::before {
    content: "|";
    color: var(--buttoncolor);
    font-weight: bold;
}

.banner span p {
    font-size: 18px;
    color: var(--graytext);
}


/*About us - section*/

.motivateTxt {
    background-image: url(../img/angry.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.motivateTxt p {
    font-size: 16px;
    color: var(--graytext);
}

.motivateTxt h3 {
    font-size: 24px;
    color: var(--h1txtcolor)
}

.motivateTxt .left {
    max-width: 360px;
    justify-content: left;
}

.motivateTxt .right {
    max-width: 360px;
    margin-left: 470px;
    justify-content: right;
}


/*Offer - section*/

.bg2 {
    width: 100%;
    background: #242424;
}

.offer {
    background-color: #242424;
    height: 470px;
}

.offer h3 {
    color: var(--bgcolor)
}

.offer p {
    font-size: 18px;
    color: var(--graytext);
    text-align: left;
    padding-top: 75px;
    border-bottom: 1px solid var(--bgColor2);
    padding-bottom: 10px;
}

.offer .content {
    margin-left: 100px;
    margin-right: 100px;
    flex-wrap: wrap;
}

.offer .fa-check {
    font-size: 18px;
    color: var(--borderColor);
    margin-right: 30px;
}


/*contact - section*/

.contact p {
    font-size: 18px;
    color: var(--h1txtcolor);
}

.contact .info {
    flex-direction: row;
}

.contact .details {
    flex-direction: column;
}

.contact .fa {
    font-size: 18px;
    color: var(--borderColor);
    margin-right: 30px;
}

.contact .underline {
    border-bottom: 1px solid var(--graytext);
    padding-bottom: 50px;
}


/*footer - section*/

footer {
    background: var(--bgColor2);
    width: 100%;
    height: 60px;
}

footer p {
    color: var(--graytext);
    padding-left: 350px;
    padding-top: 20px;
}


/*Media*/

@media (max-width: 1250px) {
    .article {
        background: #fff;
    }
}

@media (max-width: 1100px) {
    .linetop nav {
        padding-left: 0px;
        padding-right: 20px;
        margin-left: 10vh;
        margin-right: 10vh;
    }
}

@media (max-width: 640px) {
    .linetop nav {
        padding-left: 0px;
        padding-right: 20px;
        margin-left: 10vh;
        margin-right: 10vh;
    }
}