    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
     :root {
        --bgcolor: #fff;
        --txtcolor: #9d9d9d;
        --h1txtcolor: #2f2e2e;
        --white: #fff;
        --gray: #7a7a7a;
        --text: #767676;
        --darktext: #110e20;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Rajdhani', sans-serif;
    }
    
    body {
        padding-bottom: 600px;
    }
    
    .center {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 20px;
    }
    
    .marginLeft {
        margin-left: 65px;
    }
    
    .flexBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*linetop - header*/
    
    .linetop {
        height: 145px;
        /* background-color: red; */
    }
    
    .linetop .logo {
        background: url(../img/logo.png) no-repeat;
        width: 145px;
        height: 145px;
        display: block;
        text-indent: -9999px;
    }
    
    .linetop nav {
        flex: auto;
        padding-left: 550px;
        padding-right: 55px;
    }
    
    .linetop nav ul a {
        color: var(--txtcolor);
        font-size: 20px;
    }
    
    .linetop nav ul a:hover {
        color: var(--gray);
        font-size: 20px;
        font-weight: bold;
    }